<div class="main">
    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
        <div class="register">
            <h1 class="heading">Register</h1>
            <div class="input">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" autocomplete="false" ngModel #firstNameInput="ngModel" required/>
            </div>
            <div class="input">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" autocomplete="false" ngModel #lastNameInput="ngModel" required/>
            </div>
            <div class="input">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" autocomplete="false" ngModel #usernameInput="ngModel" required/>
            </div>
            <div class="input">
                <label for="email">email</label>
                <input type="text" class="form-control" name="email" id="email" autocomplete="false" ngModel #emailInput="ngModel" required/>
            </div>
            <div class="divider"></div>
            <button type="submit" [disabled]="registerForm.invalid" class="register-btn">Register</button>

            <div>
                <a routerLink="/login" style="color: #ee6b2f;">Log In</a>
            </div>
        </div>


    </form>
</div>