<header>
  <div class="brand">
    <a routerLink="">
      <img src="assets/Poké_Ball_icon.png" alt="PokeApp" height="64px">
    </a>
  </div>
  <nav>
    <ul class="nav-list">
      <li class="nav-item" style="--color : #E3350D"><a routerLink="team-selection" class="nav-link"><img
        src="assets/fight-svgrepo-com.svg"> Play</a></li>
      <li class="nav-item" style="--color : #ee6b2f"><a routerLink="teams" class="nav-link"><img src="assets/pokemon-svgrepo-com.svg"> My Teams</a></li>
    </ul>
  </nav>
</header>
