<div class="home-container">
  <div class="line">
    <div class="animated">
      <div class="sprite" *ngFor="let pokemon of line1">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
    <div class="animated delay">
      <div class="sprite" *ngFor="let pokemon of line1">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
  </div>
  <div class="line">
    <div class="animated">
      <div class="sprite" *ngFor="let pokemon of line2">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
    <div class="animated delay">
      <div class="sprite" *ngFor="let pokemon of line2">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
  </div>
  <div class="line">
    <div class="animated">
      <div class="sprite" *ngFor="let pokemon of line3">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
    <div class="animated delay">
      <div class="sprite" *ngFor="let pokemon of line3">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
  </div>
  <div class="line">
    <div class="animated">
      <div class="sprite" *ngFor="let pokemon of line4">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
    <div class="animated delay">
      <div class="sprite" *ngFor="let pokemon of line4">
        <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
      </div>
    </div>
  </div>
</div>
