<div class="main">
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="login">
            <h1 class="heading">Login to your account</h1>
            <div class="input">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" autocomplete="false" ngModel #usernameInput="ngModel" required/>
            </div>
            <span class="help-block" style="color: red;" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>
            <div class="input">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" autocomplete="false" ngModel #passwordInput="ngModel" required/>
            </div>
            <span class="help-block" style="color: red;" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password</span>
            <div class="divider"></div>
            <button type="submit" [disabled]="loginForm.invalid" class="login-btn">Log In</button>
            <div><a routerLink="/register" style="color: #ee6b2f;">Sign Up</a></div>
        </div>
    </form>
</div>